.greeting-box{
  display: flex;
  justify-content: space-between;
  background-color: rgb(88, 40, 199);
  align-items: center;
  width: 90%;
  margin: 20px auto;
  padding: 30px;
  color: white;
  border-radius: 5px;

  &__greeting {
 
    h3 {
      font-size: 32px;
      margin: 0;
    }
    
    p {
      font-size: 12px;
      font-weight: lighter;
    }
  }
  &__deleteX{
    font-size: 30px;
    color: white;
    background-color: rgb(88, 40, 199);
  }
}